In [4]:
import pickle
import os
import pickle
import matplotlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas.io import gbq
from google.cloud import bigquery
from google.oauth2 import service_account

%matplotlib inline
pd.set_option('display.max_colwidth', -1)

In [5]:
# This cell is just about making things look nice
# Make plots bigger by default.
# Has to occur after the %matplotlib inline in a different cell. Known issue
plt.rc('figure', figsize=(14.0, 8.0))
matplotlib.rcParams.update({'font.size': 22})

# Make numpy outputs easier to read
np.set_printoptions(precision=3, formatter={'float': '{: 8.3f}'.format})

In [6]:
## Set up bigquery environment

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/home/ubuntu/certs/stackoverflow-metis-32ecb3fa04c0.json"
project_id = 'stackoverflow-metis'
client = bigquery.Client(project=project_id)
dataset_id = 'SO_dataset'
dataset_ref = client.dataset(dataset_id)
dataset = client.get_dataset(dataset_ref)

In [ ]:
## Create a view to reconstruct user reputation at 01/01/2017 and 01/01/2018
view_ref = dataset_ref.table('SO_user_reputation_view')
view = bigquery.Table(view_ref)

view.view_query = """
#standardSQL
SELECT
  user.id,
  LENGTH(about_me) AS about_me_length,
  user.age,
  user.creation_date,
  user.last_access_date,
  user.location,
  user.reputation,
  user.up_votes,
  user.down_votes,
  user.profile_image_url,
  user.website_url,
  answer_2017.answer_reputation_total_2017,
  question_2017.question_reputation_total_2017,
  accepted_2017.accepted_reputation_total_2017,
  answer_2018.answer_reputation_total_2018,
  question_2018.question_reputation_total_2018,
  accepted_2018.accepted_reputation_total_2018
FROM
  `bigquery-public-data.stackoverflow.users` AS user
LEFT JOIN (
  SELECT
    owner_user_id,
    SUM(answer_reputation) AS answer_reputation_total_2017
  FROM (
    SELECT
      owner_user_id,
      score * 10 AS answer_reputation
    FROM
      `bigquery-public-data.stackoverflow.posts_answers`
    WHERE
      creation_date < '2017-01-01 00:00:00')
  GROUP BY
    owner_user_id) AS answer_2017
ON
  user.id = answer_2017.owner_user_id
LEFT JOIN (
  SELECT
    owner_user_id,
    SUM(question_reputation) AS question_reputation_total_2017
  FROM (
    SELECT
      owner_user_id,
      score * 5 AS question_reputation
    FROM
      `bigquery-public-data.stackoverflow.posts_questions`
    WHERE
      creation_date < '2017-01-01 00:00:00')
  GROUP BY
    owner_user_id) AS question_2017
ON
  user.id = question_2017.owner_user_id
LEFT JOIN (
  SELECT
    owner_user_id,
    SUM(accepted_reputation) AS accepted_reputation_total_2017
  FROM (
    SELECT
      answer.owner_user_id,
      CASE
        WHEN answer.id = question.accepted_answer_id THEN 15
        ELSE 0
      END AS accepted_reputation
    FROM
      `bigquery-public-data.stackoverflow.posts_answers` AS answer
    LEFT JOIN
      `bigquery-public-data.stackoverflow.posts_questions` question
    ON
      answer.parent_id = question.id
    WHERE
      answer.creation_date < '2017-01-01 00:00:00')
  GROUP BY
    owner_user_id) AS accepted_2017
ON
  user.id = accepted_2017.owner_user_id
LEFT JOIN (
  SELECT
    owner_user_id,
    SUM(answer_reputation) AS answer_reputation_total_2018
  FROM (
    SELECT
      owner_user_id,
      score * 10 AS answer_reputation
    FROM
      `bigquery-public-data.stackoverflow.posts_answers`
    WHERE
      creation_date < '2018-01-01 00:00:00')
  GROUP BY
    owner_user_id) AS answer_2018
ON
  user.id = answer_2018.owner_user_id
LEFT JOIN (
  SELECT
    owner_user_id,
    SUM(question_reputation) AS question_reputation_total_2018
  FROM (
    SELECT
      owner_user_id,
      score * 5 AS question_reputation
    FROM
      `bigquery-public-data.stackoverflow.posts_questions`
    WHERE
      creation_date < '2018-01-01 00:00:00')
  GROUP BY
    owner_user_id) AS question_2018
ON
  user.id = question_2018.owner_user_id
LEFT JOIN (
  SELECT
    owner_user_id,
    SUM(accepted_reputation) AS accepted_reputation_total_2018
  FROM (
    SELECT
      answer.owner_user_id,
      CASE
        WHEN answer.id = question.accepted_answer_id THEN 15
        ELSE 0
      END AS accepted_reputation
    FROM
      `bigquery-public-data.stackoverflow.posts_answers` AS answer
    LEFT JOIN
      `bigquery-public-data.stackoverflow.posts_questions` question
    ON
      answer.parent_id = question.id
    WHERE
      answer.creation_date < '2018-01-01 00:00:00')
  GROUP BY
    owner_user_id) AS accepted_2018
ON
  user.id = accepted_2018.owner_user_id
"""
view = client.create_table(view)

In [13]:
## Retrieve data from the view
query_job = client.query("""
    SELECT *
    FROM `stackoverflow-metis.SO_dataset.SO_user_reputation_view`
    """)

results = query_job.result()
user_reputation = results.to_dataframe()

In [23]:
## Process and save the reputation data
user_reputation['reputation_2017'] = user_reputation[['answer_reputation_total_2017','question_reputation_total_2017','accepted_reputation_total_2017']].sum(axis=1)
user_reputation['reputation_2018'] = user_reputation[['answer_reputation_total_2018','question_reputation_total_2018','accepted_reputation_total_2018']].sum(axis=1)
with open('./data/processed/user_reputation.pkl', 'wb') as picklefile:
    pickle.dump(user_reputation, picklefile)

In [4]:
with open('./data/processed/user_reputation.pkl', 'rb') as picklefile:
    user_reputation = pickle.load(picklefile)

In [5]:
user_reputation.tail(100)

,id,about_me_length,age,creation_date,last_access_date,location,reputation,up_votes,down_votes,profile_image_url,website_url,answer_reputation_total_2017,question_reputation_total_2017,accepted_reputation_total_2017,answer_reputation_total_2018,question_reputation_total_2018,accepted_reputation_total_2018,reputation_2017,reputation_2018
8917407,1525495,98,,2012-07-14 11:28:27.330000+00:00,2018-06-03 04:39:12.047000+00:00,Spain,6172,884,201,https://i.stack.imgur.com/DunHU.png,https://llorxscript.blogspot.com.es,2850.0,230.0,750.0,3900.0,255.0,1395.0,3830.0,5550.0
8917408,1811348,0,,2012-11-09 05:53:59.980000+00:00,2018-06-01 15:31:25.783000+00:00,,797,582,1,,,320.0,225.0,150.0,320.0,255.0,150.0,695.0,725.0
8917409,379532,0,,2010-06-29 22:54:24.830000+00:00,2018-06-02 21:04:55.380000+00:00,,430,81,0,,,70.0,255.0,30.0,70.0,255.0,30.0,355.0,355.0
8917410,2985898,0,,2013-11-13 03:01:55.323000+00:00,2018-05-30 05:43:25.747000+00:00,,437,15,5,https://www.gravatar.com/avatar/?s=128&d=identicon&r=PG&f=1,,70.0,235.0,15.0,70.0,255.0,15.0,320.0,340.0
8917411,1816631,0,,2012-11-11 20:21:58.540000+00:00,2018-05-24 11:46:48.353000+00:00,,521,50,0,,,70.0,245.0,60.0,70.0,255.0,60.0,375.0,385.0
8917412,801169,0,,2011-06-16 09:34:42.970000+00:00,2013-02-24 17:46:32.397000+00:00,,340,84,0,,,70.0,255.0,0.0,70.0,255.0,0.0,325.0,325.0
8917413,22227,0,,2008-09-25 15:40:21.703000+00:00,2018-05-25 13:01:19.037000+00:00,"San Francisco, CA",7101,214,22,,http://probst.io,6460.0,245.0,120.0,6470.0,255.0,120.0,6825.0,6845.0
8917414,105668,0,,2009-05-12 20:05:21.497000+00:00,2018-06-01 17:24:45.647000+00:00,"Moscow, Russia",1526,39,2,,,1100.0,255.0,30.0,1100.0,255.0,30.0,1385.0,1385.0
8917415,1062015,0,,2011-11-23 13:41:45.487000+00:00,2018-05-30 11:11:20.233000+00:00,"Johannesburg, Gauteng, South Africa",3276,281,24,https://i.stack.imgur.com/BxVmw.jpg,,2380.0,255.0,495.0,2380.0,255.0,495.0,3130.0,3130.0
8917416,187523,0,,2009-10-10 02:37:21.080000+00:00,2018-06-02 23:33:16.100000+00:00,,2257,730,72,https://i.stack.imgur.com/4KSEa.png?s=128&g=1,,1860.0,255.0,90.0,1870.0,255.0,90.0,2205.0,2215.0
8917417,1619521,0,,2012-08-23 10:56:58.513000+00:00,2018-06-01 15:58:35.230000+00:00,,529,130,1,,,80.0,255.0,0.0,80.0,255.0,0.0,335.0,335.0
8917418,1105571,0,,2011-12-19 09:29:25.343000+00:00,2015-08-31 08:49:25.050000+00:00,,440,16,0,,,80.0,255.0,0.0,80.0,255.0,0.0,335.0,335.0
8917419,721756,0,,2011-04-23 13:20:50.633000+00:00,2013-04-09 08:04:04.720000+00:00,,503,20,0,,,80.0,255.0,45.0,80.0,255.0,45.0,380.0,380.0
8917420,1158470,0,,2012-01-19 12:31:43.723000+00:00,2017-04-13 23:20:49.360000+00:00,,1415,15,2,https://i.stack.imgur.com/RaSl1.png,,850.0,255.0,45.0,850.0,255.0,45.0,1150.0,1150.0
8917421,1185737,133,,2012-02-02 17:17:42.773000+00:00,2018-05-31 10:58:58.923000+00:00,"Ahmadabad, India",1337,355,24,,,850.0,215.0,270.0,850.0,255.0,270.0,1335.0,1375.0
8917422,3829,0,,2008-08-31 04:59:21+00:00,2017-10-14 04:32:55.570000+00:00,San Francisco Bay Area,1460,212,5,,http://desmondbrand.com,840.0,255.0,90.0,850.0,255.0,135.0,1185.0,1240.0
8917423,1816253,0,,2012-11-11 15:42:31.123000+00:00,2018-06-02 16:49:25.700000+00:00,,1355,66,13,,,850.0,255.0,120.0,850.0,255.0,120.0,1225.0,1225.0
8917424,301744,464,,2010-03-25 14:00:33.173000+00:00,2018-05-11 19:24:19.307000+00:00,"Astoria, NY",2553,68,3,,http://www.buzzedword.org,2130.0,255.0,60.0,2130.0,255.0,60.0,2445.0,2445.0
8917425,450117,613,,2010-09-16 23:52:20.397000+00:00,2018-06-03 04:26:08.197000+00:00,"San Jose, CA",3800,219,8,https://i.stack.imgur.com/MQjBY.jpg,http://pinapala.com,2900.0,255.0,630.0,2900.0,255.0,630.0,3785.0,3785.0
8917426,122777,406,,2009-06-14 16:57:59.227000+00:00,2016-02-20 04:33:35.370000+00:00,United States,343,7,0,https://i.stack.imgur.com/pueol.png?s=128&g=1,,90.0,255.0,15.0,90.0,255.0,15.0,360.0,360.0
8917427,1839128,0,,2012-11-20 14:40:17.150000+00:00,2018-05-30 19:34:30.137000+00:00,,373,2,0,https://www.gravatar.com/avatar/4420c0d9da88224a5c388aced16a65f4?s=128&d=identicon&r=PG&f=1,,90.0,255.0,45.0,90.0,255.0,45.0,390.0,390.0
8917428,717336,0,,2011-04-20 14:26:57.013000+00:00,2018-05-31 09:42:09.553000+00:00,"Lviv, Lviv Oblast, Ukraine",528,73,2,,,40.0,225.0,15.0,90.0,255.0,30.0,280.0,375.0
8917429,1302995,0,,2012-03-30 10:15:29.620000+00:00,2018-06-01 14:25:05.753000+00:00,,491,144,4,https://www.gravatar.com/avatar/a71507e3eb28bfceb3c375ff32e398c4?s=128&d=identicon&r=PG&f=1,http://www.smr.name,100.0,255.0,0.0,100.0,255.0,0.0,355.0,355.0
8917430,3652210,204,,2014-05-19 10:24:00.110000+00:00,2018-06-01 12:19:36.310000+00:00,"Rennes, France",656,125,25,https://i.stack.imgur.com/H4vCU.jpg?s=128&g=1,,50.0,175.0,45.0,110.0,255.0,105.0,270.0,470.0
8917431,49553,0,,2008-12-28 15:41:09.417000+00:00,2018-05-17 12:29:56.163000+00:00,"Dusseldorf, North Rhine-Westphalia Germany",2670,211,6,,http://tjansen.de/,2160.0,255.0,270.0,2160.0,255.0,270.0,2685.0,2685.0
8917432,1137282,0,,2012-01-08 16:25:14.830000+00:00,2016-04-12 12:04:22.870000+00:00,,638,23,0,,,370.0,255.0,45.0,370.0,255.0,45.0,670.0,670.0
8917433,36253,0,,2008-11-10 17:33:17.240000+00:00,2018-05-30 07:03:17.220000+00:00,,1398,497,14,,,1070.0,240.0,30.0,1140.0,255.0,45.0,1340.0,1440.0
8917434,885453,0,,2011-08-09 07:50:16.037000+00:00,2018-06-01 06:47:11.717000+00:00,,1446,20,0,,,630.0,220.0,330.0,630.0,255.0,345.0,1180.0,1230.0
8917435,599791,0,,2011-02-02 10:05:35.060000+00:00,2018-05-29 08:16:26.300000+00:00,"Munich, Germany",2366,690,15,https://www.gravatar.com/avatar/f81697638d3d028f36d4ae143a84e508?s=128&d=identicon&r=PG&f=1,,1910.0,255.0,45.0,1910.0,255.0,45.0,2210.0,2210.0
8917436,1274685,0,,2012-03-16 18:12:57.180000+00:00,2016-04-20 14:23:00.693000+00:00,,375,27,2,,,120.0,255.0,0.0,120.0,255.0,0.0,375.0,375.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8917477,4586108,8,,2015-02-19 23:15:31.613000+00:00,2018-06-02 18:42:56.250000+00:00,United States,1050,9,0,https://i.stack.imgur.com/0srZq.jpg,,310.0,250.0,15.0,460.0,255.0,135.0,575.0,850.0
8917478,965338,0,,2011-09-26 15:30:30.913000+00:00,2018-01-08 23:19:03.800000+00:00,"Vienna, Austria",595,29,0,,http://dubture.com,210.0,160.0,15.0,210.0,255.0,15.0,385.0,480.0
8917479,109163,0,,2009-05-19 04:52:11.100000+00:00,2018-06-02 06:05:58.160000+00:00,"San Francisco, CA",2334,49,5,,,1490.0,255.0,360.0,1490.0,255.0,360.0,2105.0,2105.0
8917480,888146,102,,2011-08-10 14:50:08.043000+00:00,2018-06-01 14:38:00.263000+00:00,Hamburg,1007,118,4,,,470.0,255.0,120.0,470.0,255.0,120.0,845.0,845.0
8917481,1366527,182,,2012-04-30 19:08:51.603000+00:00,2018-05-09 21:19:57.850000+00:00,"Seattle, WA",19364,290,2,,http://bigquery.cloud.google.com,13940.0,255.0,4995.0,14040.0,255.0,5010.0,19190.0,19305.0
8917482,428606,0,,2010-08-23 16:13:39.900000+00:00,2018-06-01 13:18:11.677000+00:00,"Paris, France",1002,260,7,,,730.0,255.0,30.0,730.0,255.0,30.0,1015.0,1015.0
8917483,802815,0,,2011-06-17 07:02:45.137000+00:00,2018-06-01 06:38:24.247000+00:00,,544,22,1,,http://www.perfect-is-shit.com,210.0,235.0,30.0,220.0,255.0,30.0,475.0,505.0
8917484,646998,129,,2011-03-06 14:46:08.147000+00:00,2018-06-01 08:13:48.860000+00:00,"Perth, Australia",639,184,2,,,180.0,255.0,45.0,220.0,255.0,45.0,480.0,520.0
8917485,3089468,0,,2013-12-11 03:46:00.150000+00:00,2018-06-01 20:07:51.643000+00:00,,699,34,0,https://www.gravatar.com/avatar/7f170f6ef0a458eb2fcb87231d4bc3ed?s=128&d=identicon&r=PG&f=1,,220.0,230.0,15.0,220.0,255.0,30.0,465.0,505.0
8917486,1573765,0,,2012-08-03 09:53:03.193000+00:00,2018-05-29 14:46:25.023000+00:00,"Krakow, Poland",1211,77,1,https://i.stack.imgur.com/8XHkN.jpg,http://about.me/jakub.szwiec,720.0,170.0,15.0,740.0,255.0,15.0,905.0,1010.0
8917487,74298,55,,2009-03-05 15:44:43.627000+00:00,2018-05-03 09:12:17.260000+00:00,"Cairo, Egypt",4051,98,10,,,3560.0,255.0,120.0,3560.0,255.0,120.0,3935.0,3935.0
8917488,3421753,144,,2013-05-06 09:57:19.403000+00:00,2018-06-02 17:49:38.043000+00:00,UK,1042,196,9,https://i.stack.imgur.com/EvguM.png?s=128&g=1,http://www.circularwave.co.uk,370.0,255.0,165.0,490.0,255.0,195.0,790.0,940.0
8917489,24065,289,,2008-10-01 09:58:00.233000+00:00,2018-04-20 20:01:11.550000+00:00,"Tirana, Albania",598,56,3,,http://www.tollkuci.com,440.0,215.0,90.0,490.0,255.0,105.0,745.0,850.0
8917490,1379803,0,,2012-05-07 13:01:58.440000+00:00,2018-05-24 13:06:38.317000+00:00,"Pune, India",1940,80,1,https://i.stack.imgur.com/RI0d0.jpg,,1260.0,220.0,345.0,1260.0,255.0,345.0,1825.0,1860.0
8917491,742819,36,,2011-05-07 07:44:04.077000+00:00,2017-06-14 22:19:30.157000+00:00,"Cancun, Mexico",783,72,2,,http://blog.rockdeveloper.com,240.0,255.0,15.0,240.0,255.0,15.0,510.0,510.0
8917492,82287,0,,2009-03-24 22:55:43.100000+00:00,2018-06-02 21:30:54.693000+00:00,,794,4,0,https://i.stack.imgur.com/Rljpj.png,,240.0,255.0,75.0,240.0,255.0,75.0,570.0,570.0
8917493,626481,40,,2011-02-21 11:40:42.503000+00:00,2018-06-01 14:53:39.770000+00:00,,4500,797,9,,,3460.0,255.0,360.0,3570.0,255.0,375.0,4075.0,4200.0
8917494,1279707,0,,2012-03-19 23:05:26.663000+00:00,2018-06-02 17:14:39.907000+00:00,"Zagreb, Croatia",4780,6026,24,,http://damirsvrtan.github.io/,3060.0,255.0,1290.0,3060.0,255.0,1290.0,4605.0,4605.0
8917495,534444,0,,2010-12-08 01:45:34.457000+00:00,2012-08-26 23:31:29.147000+00:00,,395,52,0,,,-10.0,255.0,0.0,-10.0,255.0,0.0,245.0,245.0
8917496,1491357,0,,2012-06-29 14:05:31.880000+00:00,2015-04-19 07:42:57.513000+00:00,,354,37,0,,,-10.0,255.0,0.0,-10.0,255.0,0.0,245.0,245.0
8917497,840714,772,,2011-07-12 12:41:13.620000+00:00,2018-06-02 23:19:25.557000+00:00,"Heidelberg, Germany",642,123,8,,,230.0,210.0,120.0,250.0,255.0,120.0,560.0,625.0
8917498,2114018,0,,2013-02-27 05:38:28.857000+00:00,2017-11-20 10:50:32.330000+00:00,,500,57,0,https://i.stack.imgur.com/XKzo8.jpg,,250.0,255.0,0.0,250.0,255.0,0.0,505.0,505.0
8917499,1165637,338,,2012-01-23 19:16:09.857000+00:00,2018-06-02 23:53:41.590000+00:00,"Waterloo, Canada",11219,2240,64,,http://oleksiderkatch.blogspot.com/,9130.0,245.0,1710.0,9210.0,255.0,1740.0,11085.0,11205.0
8917500,1999004,0,,2013-01-22 03:50:56.937000+00:00,2015-09-30 02:26:20.673000+00:00,,1536,0,0,,,NaN,1535.0,NaN,NaN,1535.0,NaN,1535.0,1535.0
8917501,147953,0,,2009-07-30 14:06:27.293000+00:00,2018-06-01 13:58:34.600000+00:00,,1911,276,3,,,0.0,1535.0,0.0,0.0,1535.0,0.0,1535.0,1535.0
8917502,11112,26,,2008-09-16 05:09:59.213000+00:00,2018-03-16 20:39:33.913000+00:00,"Colorado Springs, CO",5294,1296,8,,,2900.0,1535.0,435.0,2900.0,1535.0,435.0,4870.0,4870.0
8917503,241513,110,,2009-12-31 12:11:05.713000+00:00,2018-05-24 14:05:32.263000+00:00,Netherlands,5658,210,8,,http://www.f-5.nl,3520.0,1520.0,330.0,3520.0,1535.0,330.0,5370.0,5385.0
8917504,1151521,0,,2012-01-16 09:07:11.320000+00:00,2018-06-01 10:55:48.813000+00:00,,11509,437,132,,,9380.0,1520.0,570.0,9440.0,1535.0,585.0,11470.0,11560.0
8917505,688,0,,2008-08-07 19:56:09.270000+00:00,2018-05-24 22:45:27.363000+00:00,"Vancouver, Canada",9907,1334,83,,,5550.0,2815.0,435.0,5550.0,2815.0,435.0,8800.0,8800.0
8917506,367562,86,,2010-06-15 18:05:57.223000+00:00,2018-06-03 03:19:51.937000+00:00,"Blackburn, Australia",6563,469,11,https://i.stack.imgur.com/vK59s.jpg?s=128&g=1,http://www.softdeveloperszone.com,2770.0,2795.0,705.0,2770.0,2815.0,705.0,6270.0,6290.0

In [6]:
query = """
#standardSQL
SELECT
  id,
  COUNT(diff) AS count_diff,
  MAX(diff)/24 AS MAX_activity_interval
FROM (
  SELECT
    id,
    TIMESTAMP_DIFF(creation_date, prev_creation_date, HOUR) AS diff
  FROM (
    SELECT
      id,
      creation_date,
      LAG(creation_date) OVER(PARTITION BY id ORDER BY creation_date ) AS prev_creation_date
    FROM (
      SELECT
        *
      FROM (
        SELECT
          owner_user_id AS id,
          creation_date
        FROM
          `bigquery-public-data.stackoverflow.posts_answers`
        UNION ALL
        SELECT
          owner_user_id AS id,
          creation_date
        FROM
          `bigquery-public-data.stackoverflow.posts_questions`
        UNION ALL
        SELECT
          user_id AS id,
          creation_date
        FROM
          `bigquery-public-data.stackoverflow.comments`)
      WHERE
        FORMAT_TIMESTAMP('%Y', creation_date) = '2017')))
GROUP BY
  id
ORDER BY
  COUNT(diff) DESC
"""
query_job = client.query(query)
results = query_job.result()
inter_activity_days = results.to_dataframe()

In [8]:
inter_activity_days.dropna(axis=0, inplace=True)
inter_activity_days.id = inter_activity_days.id.astype(int)
with open('./data/processed/inter_activity_days.pkl', 'wb') as picklefile:
    pickle.dump(inter_activity_days, picklefile)

In [7]:
query = """
#standardSQL
SELECT
id,
count(id) AS count
FROM (
  SELECT
    *
  FROM (
    SELECT
      owner_user_id AS id,
      creation_date
    FROM
      `bigquery-public-data.stackoverflow.posts_answers`
    UNION ALL
    SELECT
      owner_user_id AS id,
      creation_date
    FROM
      `bigquery-public-data.stackoverflow.posts_questions`
    UNION ALL
    SELECT
      user_id AS id,
      creation_date
    FROM
      `bigquery-public-data.stackoverflow.comments`)
  WHERE
    FORMAT_TIMESTAMP('%Y', creation_date) = '2017')
GROUP BY
id
"""
query_job = client.query(query)
results = query_job.result()
activity_count = results.to_dataframe()

In [77]:
with open('./data/processed/activity_count.pkl', 'wb') as picklefile:
    pickle.dump(activity_count, picklefile)

In [7]:
query = """
#standardSQL
SELECT
id,
count(id) AS count
FROM (
  SELECT
    *
  FROM (
    SELECT
      owner_user_id AS id,
      creation_date
    FROM
      `bigquery-public-data.stackoverflow.posts_answers`)
  WHERE
    FORMAT_TIMESTAMP('%Y', creation_date) = '2017')
GROUP BY
id
"""
query_job = client.query(query)
results = query_job.result()
answer_count = results.to_dataframe()

In [8]:
with open('./data/processed/answer_count.pkl', 'wb') as picklefile:
    pickle.dump(answer_count, picklefile)

In [9]:
### Construct a timeseries where columns are number of activities per month
query = """
WITH activity_times AS (
  SELECT id, FORMAT_TIMESTAMP('%Y%m', creation_date) AS creation_time
  FROM(
    SELECT 
      owner_user_id AS id, 
      creation_date
    FROM
      `bigquery-public-data.stackoverflow.posts_answers`)
  WHERE
    FORMAT_TIMESTAMP('%Y', creation_date) = '2017'
) SELECT id,
    COUNT(IF(creation_time = "201701", id, NULL)) as m_201701,
    COUNT(IF(creation_time = "201702", id, NULL)) as m_201702,
    COUNT(IF(creation_time = "201703", id, NULL)) as m_201703,
    COUNT(IF(creation_time = "201704", id, NULL)) as m_201704,
    COUNT(IF(creation_time = "201705", id, NULL)) as m_201705,
    COUNT(IF(creation_time = "201706", id, NULL)) as m_201706,
    COUNT(IF(creation_time = "201707", id, NULL)) as m_201707,
    COUNT(IF(creation_time = "201708", id, NULL)) as m_201708,
    COUNT(IF(creation_time = "201709", id, NULL)) as m_201709,
    COUNT(IF(creation_time = "201710", id, NULL)) as m_201710,
    COUNT(IF(creation_time = "201711", id, NULL)) as m_201711,
    COUNT(IF(creation_time = "201712", id, NULL)) as m_201712
  FROM activity_times
  GROUP BY id
  ORDER BY id
"""
query_job = client.query(query)
results = query_job.result()
answer_time_series = results.to_dataframe()

In [10]:
answer_time_series.dropna(inplace=True)
answer_time_series['id'] = answer_time_series['id'].astype(int)
with open('./data/processed/answer_time_series.pkl', 'wb') as picklefile:
    pickle.dump(answer_time_series, picklefile)

In [12]:
### Construct a timeseries where columns are number of activities per month
query = """
WITH activity_times AS (
  SELECT id, FORMAT_TIMESTAMP('%Y%m', creation_date) AS creation_time
  FROM(
    SELECT 
      owner_user_id AS id, 
      creation_date
    FROM
      `bigquery-public-data.stackoverflow.posts_answers`
    UNION ALL
    SELECT
      owner_user_id AS id, 
      creation_date
    FROM
      `bigquery-public-data.stackoverflow.posts_questions` UNION ALL
    SELECT
      user_id AS id,
      creation_date
    FROM
      `bigquery-public-data.stackoverflow.comments`)
  WHERE
    FORMAT_TIMESTAMP('%Y', creation_date) = '2017'
) SELECT id,
    COUNT(IF(creation_time = "201701", id, NULL)) as m_201701,
    COUNT(IF(creation_time = "201702", id, NULL)) as m_201702,
    COUNT(IF(creation_time = "201703", id, NULL)) as m_201703,
    COUNT(IF(creation_time = "201704", id, NULL)) as m_201704,
    COUNT(IF(creation_time = "201705", id, NULL)) as m_201705,
    COUNT(IF(creation_time = "201706", id, NULL)) as m_201706,
    COUNT(IF(creation_time = "201707", id, NULL)) as m_201707,
    COUNT(IF(creation_time = "201708", id, NULL)) as m_201708,
    COUNT(IF(creation_time = "201709", id, NULL)) as m_201709,
    COUNT(IF(creation_time = "201710", id, NULL)) as m_201710,
    COUNT(IF(creation_time = "201711", id, NULL)) as m_201711,
    COUNT(IF(creation_time = "201712", id, NULL)) as m_201712
  FROM activity_times
  GROUP BY id
  ORDER BY id
"""
query_job = client.query(query)
results = query_job.result()
activity_time_series = results.to_dataframe()

In [13]:
activity_time_series.dropna(inplace=True)
activity_time_series['id'] = activity_time_series['id'].astype(int)
with open('./data/processed/activity_time_series.pkl', 'wb') as picklefile:
    pickle.dump(activity_time_series, picklefile)

In [11]:
activity_time_series.shape

(1183423, 13)

In [5]:
### Construct a timeseries where columns are number of activities per month
query = """
WITH activity_times AS (
  SELECT id, FORMAT_TIMESTAMP('%Y%m', creation_date) AS creation_time
  FROM(
    SELECT 
      owner_user_id AS id, 
      creation_date
    FROM
      `bigquery-public-data.stackoverflow.posts_answers`
    UNION ALL
    SELECT
      owner_user_id AS id, 
      creation_date
    FROM
      `bigquery-public-data.stackoverflow.posts_questions` UNION ALL
    SELECT
      user_id AS id,
      creation_date
    FROM
      `bigquery-public-data.stackoverflow.comments`)
  WHERE
    FORMAT_TIMESTAMP('%Y', creation_date) = '2018'
) SELECT id,
    COUNT(DISTINCT IF(creation_time = "201803", id, NULL)) as m_201803,
    COUNT(DISTINCT IF(creation_time = "201804", id, NULL)) as m_201804,
    COUNT(DISTINCT IF(creation_time = "201805", id, NULL)) as m_201805
  FROM activity_times
  GROUP BY id
  ORDER BY id
"""
query_job = client.query(query)
results = query_job.result()
activity_time_series_2018 = results.to_dataframe()

In [11]:
activity_time_series_2018.dropna(inplace=True)
activity_time_series_2018['id'] = activity_time_series_2018['id'].astype(int)
with open('./data/processed/activity_time_series_2018.pkl', 'wb') as picklefile:
    pickle.dump(activity_time_series_2018, picklefile)